body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.display {
    background-color: whitesmoke;
    height: 50px;
    font-size: 48px;
    text-align: end;
    line-height: 50px;
    padding: 0px 5px
}

.calculator {
    width: 300px;
    height: 500px;
}

input[type=button] {
    width: 75px;
    height: 75px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}
